$head-height: 8rem
$mobile-head-height: $head-height/2
$logo-size: 4rem
$mobile-logo-size: $logo-size/2
$margin-archive: 2rem

$article-space: 6rem

html
  overflow-x: hidden
header
  .head
    .ueber
      font-size: 10px
      position: absolute
      right: 10px
      padding: 0 6px
      top: 10px
      color: $white
      background: $darktint
      text-transform: uppercase
      line-height: 22px
      border-radius: 4px 0 4px 4px
      transition: .3s
      &:hover
        background: $lightertint
    svg
      margin: 6.517rem 0 0 0
      height: 98px
      @include max-screen(720px)
        margin: 5.0676rem 0 0 0
        height: 79px
    // @include shakeit
    position: absolute
    // background-color: $lighttint
    left: 0
    top: 0
    width: 100%
    height: $head-height
    line-height: $head-height
    @include max-screen(720px)
      height: $mobile-head-height
      line-height: $mobile-head-height
    color: $darktint
    // font-weight: bold 
    text-align: center
    // font-style: italic
    @include font
    // border-bottom: 1px solid $lightertint
    a
      text-decoration: none
      color: $darktint
    .round
      -webkit-transform: translate3d(0,0,1px)
      -moz-transform: translate3d(0,0,1px)
      -ms-transform: translate3d(0,0,1px)
      -o-transform: translate3d(0,0,1px)
      transform: translate3d(0,0,1px)
      border-radius: 50%
      font-size: 1.5rem
      margin: $head-height*.28 auto
      line-height: $head-height*.71
      height: $head-height*.71
      width: $head-height*.71
      @include max-screen(720px)
        margin: $mobile-head-height*.71 auto
        line-height: $mobile-head-height*.71
        height: $mobile-head-height*.71
        width: $mobile-head-height*.71
      background-color: #eee
      transition: .284s linear
      overflow: hidden
      &:hover
        background-color: $darktint
        // transform: rotate(180deg)
        font-size: 50rem

#main
  margin: $head-height*2.25 0 0 0
  @include max-screen(720px)
    margin: $mobile-head-height*3.25 0 0 0
  #content
    position: relative
    margin: auto
    left: 0
    right: 0 
    width: 700px
    @include max-screen(720px)
      width: 90%
    // about, subpages, etc.
    .page
      article[role=article]
        header
          p.meta
            @include svg
          h1
            @include h1-page
            @include max-screen(720px)
              @include h1-page-mobile
        img
          @include max-screen(720px)
            width: 50%
            left: 25%
            position: relative


    // preview from index
    .blog-index
      // width: 662px
      @include max-screen(720px)
        width: 100%
      article
        @include max-screen(720px)
          padding: 0
          margin: 0
        header
          p.meta
            margin: 0 0 2.71rem
            text-align: center
            color: $lightertint
            font-style: italic
            @include svg
            @include meta
            time
              position: relative
              top: 0
              right: 0
              left: 0
              margin: auto
          h1.entry-title
            text-align: center
            @include hovershake
            @include a
            a
              @include h1-normal
        .entry-content
          figure.code
            overflow: auto
            margin: 1rem
            border: 1px solid $lighttint
            span.line-number
              visibility: hidden
              color: darken($colour-code-b, 30%)
          code
            padding: 0 .7rem 0 .3rem
          a
            color: $colour1
            // text-transform: uppercase
            font-style: italic
            @include hover
            @include max-screen(720px)
              line-height: auto
            p
              @include hovershake
        footer
          clear: both
          div.hline
            display: none
            margin: $article-space 0 $article-space*.7
            width: 100%
            border-bottom: 1px solid $lighttint
            // @include max-screen(720px)
      
    // blog archive
    div
      h1
        @include font
        @include h1-normal
      div#blog-archives
        h2
          text-align: right
          font-weight: normal
          border-bottom: 1px dotted $lightertint
        article
          @include max-screen(720px)
            margin: $margin-archive 0 0
          min-height: 100px 
          & *
            line-height: 100px
            @include max-screen(720px)
              line-height: 1rem
          @include font
          h1
            margin: 0
            text-align: left
            float: left
            @include max-screen(720px)
              float: none
              line-height: 2rem
              margin: 1rem 0
            @include hovershake
            a
              border-bottom: 1px dotted $lightertint
              color: $darktint
              text-decoration: none 
              &:after
                content: " \2192"
          time
            @include meta
            margin: 0 0 0 1rem
            float: right
            color: $lightertint
            @include max-screen(720px)
              margin: 0
              width: 100%
              text-align: center
          time ~ span
            @include meta
            float: right
            color: $lightertint
            @include max-screen(720px)
              float: none
              margin: 0 0 1rem 0
            a
              @include meta
              text-decoration: none
              border-bottom: 1px dotted $lightertint
              color: $darktint
          div.clear
            border-bottom: 2px solid $lighttint
            @include max-screen(720px)
              margin: $margin-archive 0 0
              border-bottom: 1px solid $lighttint
          &:last-of-type
            div.clear
              border-bottom: none
              @include max-screen(720px)
                border-bottom: none
          
    // real content
    .pre-article
      img
        width: 700px
        margin: 2rem 0
        @include max-screen(720px)
          width: 100%
      article
        padding: 0 0 48px 0
        margin: 0 0 48px 0
        header
          p.meta
            @include meta
          h1.entry-title
            @include h1-normal
            a
              @include h1-normal
              @include hover
              color: $colour1
        .entry-content
          p
            @include a-clean
          code
            color: mix($p, $colour-mix, 50%)
          figure.code
            padding: .314rem 0
            border: 1px solid $lighttint
            overflow: auto
            margin: 8px 8px 32px
            @include max-screen(720px)
              font-size: 10px
              margin: 0.718rem 0
            span.line-number
              visibility: hidden
              font-size: 14px
              @include max-screen(720px)
                font-size: 10px
        footer
          font-size: .7rem
          clear: both
          p.meta
          p
            @include meta
            text-align: center
          a
            @include meta
          a
            color: $colour1
            text-transform: uppercase
            font-style: italic
            @include hover
    div.pagination
      text-align: center
      a
        @include hover
        color: $colour1
        text-decoration: underline
        &:after
          content: " \2192"
    aside.sidebar
      margin: 50px 0 0 0
      border-top: 2px solid $colour-border-miner
      section
        @include min-screen(720px)
          width: 50%
          float: left
        h1
          @include h1
          margin: 1.21348rem 0
          font-style: none
          text-align: left
        ul
          li
            font-style: italic
            list-style: none
            span.githubrepo
              @include hovershake
          li.post
            @include hovershake
        ul#gh_repos
          li
            @include hovershake


        @include a-clean