@mixin font
  font-family: Georgia, serif
  
@mixin meta
  font-size: .8rem
  text-transform: uppercase
  
@mixin hover
  transition: .3s
  &:hover
    color: $lightertint
    
@mixin a
  a
    text-decoration: none
    color: $darktint
    transition: .3s
    &:hover
      color: $lightertint


@mixin h1
  font-size: 2.0rem
  margin: 0 0 1.21348rem
  text-align: center
  font-weight: normal
  font-style: italic
h2
h3
h4
h5
p, a
  font-size: 20px
  line-height: 31px
b
i
a

h1, h2, h3, h4, h5, p, b, i, a
  @include font
  
code
  color: $darktint